<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>home</title>

   <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
   <link rel="manifest" href="/site.webmanifest">

   <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../static/css/main.css">

   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<body>
   <div class="wrapper">
      <!-- Header -->
      <header class="header">
         <nav class="nav">
            <div class="logo">
               <a href="#"><img src="../images/Logo.svg" alt="Logo" class="responsive-image"></a>
            </div>
            <a href="#" class="menu-trigger">Menu</a>
            <ul class="nav-list">
               <li class="nav-list__item"><a href="#">Home</a></li>
               <li class="nav-list__item"><a href="#">About us</a></li>
               <li class="nav-list__item"><a href="#">Contact</a></li>
            </ul>
         </nav>
         <div class="container">
            <div class="card">
               <h2 class="card-header">We can help.</h2>
               <div class="card-content">Teaching independence to the lives of the people you love with reliable,
                  individualized emotional and behavioral therapy.</div>
               <button class="btn btn-beige">Find help here</button>
            </div>
         </div>
      </header>
      <!-- End Header -->
      <main class="main">
         <!-- Brand Block -->
         <div class="brand-block">
            <div class="container">
               <ul class="brand-list">
                  <li class="brand-list__item">
                     <img src="../static/images/Magellan.png" alt="Magellan" class="responsive-image">
                  </li>
                  <li class="brand-list__item">
                     <img src="../static/images/KaiserPermanente.png" alt="Kaiser Permanente" class="responsive-image">
                  </li>
                  <li class="brand-list__item">
                     <img src="../static/images/Anthem.png" alt="Anthem" class="responsive-image">
                  </li>
                  <li class="brand-list__item">
                     <img src="../static/images/NorthBayRegionalCenter.png" alt="North Bay Regional Center"
                        class="responsive-image">
                  </li>
                  <li class="brand-list__item">
                     <img src="../static/images/PartnershipHealthPlanofCA.png" alt="Partnership Health Plan of CA"
                        class="responsive-image">
                  </li>
                  <li class="brand-list__item">
                     <img src="../static/images/Aetna.png" alt="Aetna" class="responsive-image">
                  </li>
               </ul>
            </div>
         </div>
         <!-- End Brand Block -->
         <!-- Support Block -->
         <article class="support-block">
            <div class="container">
               <h2 class="support-block__header">Support For People Of All Walks of Life</h2>
               <div class="support-block__content">Children as young as 2 years old may begin to develop behaviors</div>
               <div class="support-block__mask">
                  <img src="../static/images/VectorSmartObject.png" alt="People" class="responsive-image" height="225">
               </div>
            </div>
         </article>
         <!-- End Support Block -->
         <!-- Services Block -->
         <article class="services-block">
            <div class="container">
               <div class="services-block__content">
                  <h2 class="services-block__header">McGrew Behavior Services Helps...</h2>
                  <div class="services-block__text">Families, organizations and health care providers in Northern C
                  </div>
                  <button class="btn btn-beige">Contact us</button>
               </div>
            </div>
         </article>
         <!-- End Services Block -->
         <!-- Slider Block -->
         <div class="slider-block">
            <div class="slider-wrapper">
               <div class="image-slider">
                     <div>
                        <img src="../static/images/Layer3.png" alt="Picture" class="responsive-image brightness">
                        <div class="image-slider__layer"></div>
                     </div>
                     <div>
                        <img src="../static/images/Layer3.png" alt="Picture" class="responsive-image brightness">
                     </div>
                     <div>
                        <img src="../static/images/Layer3.png" alt="Picture" class="responsive-image brightness">
                     </div>
                     <div>
                        <img src="../static/images/Layer3.png" alt="Picture" class="responsive-image brightness">
                     </div>
                     <div>
                        <img src="../static/images/Layer3.png" alt="Picture" class="responsive-image brightness">
                     </div>
               </div>
               <div class="slider-layer">
                  <div class="slider-layer__item slider-layer__item--one"></div>
                  <div class="slider-layer__item slider-layer__item--two"></div>
                  <div class="slider-layer__item slider-layer__item--three"></div>
               </div>
            </div>
         </div>
         <!-- End Slider Block -->
         <!-- Team Block -->
         <article class="team-block">
            <div class="team-block__image">
            </div>
            <div class="team-block__content">
               <div class="card">
                  <div class="card-notation">Be a part of something bigger than yourself. Make a difference.</div>
                  <h2 class="card-header">Join Our Team.</h2>
                  <div class="card-content">We are always looking for highly motivated individuals who aligned with our committment to making a difference in the lives of other people. Whether you’re a BCBA or interested in ABA work we are interested in talking to you</div>
                  <button class="btn btn-beige btn-blue">FIND WHAT’S AVAILABLE</button>
               </div>
            </div>
         </article>
         <!-- End Team Block -->
      </main>
   </div>
   <!-- FOOTER -->
   <footer class="footer">
      <ul class="footer-nav">
         <li class="footer-nav__item"><a href="#">Home</a></li>
         <li class="footer-nav__item"><a href="#">About us</a></li>
         <li class="footer-nav__item"><a href="#">Contact</a></li>
         <li class="footer-nav__item"><a href="#">Carrers</a></li>
      </ul>
      <div class="footer-divider">
         <span></span>
      </div>
      <div class="footer-content">
         <div class="footer-content__item">120 Theresa Ave, American Canyon, CA 94503</div>
         <div class="footer-content__item">707.561.0134</div>
         <div class="footer-content__item footer-content__item--alt">familyresources@mbisinc.com</div>
      </div>
      <div class="footer-info">
         Copyright Ⓒ 2017 McGrews Behavior Services All Rights Reserved
      </div>
   </footer>
   <!-- End Footer -->
   <script src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
   <script src="../static/js/main.js"></script>
</body>
</html>
