// Color system
$off-white:          #fafafa;
$white:              #ffffff;
$black:              #1a171b;
$gray:               #454546;
$ex-light-gray-border:#eeeeee;
$ex-light-gray:      #aaaaaa;
$link-gray:          #999999;
$light-gray:         #cccccc;
$layer-blue-one:     #b2e9f1;
$layer-blue-two:     #bae0ed;
$layer-blue-three:   #b2d1e6;
$light-blue:         #00b5d2;
$blue:               #1b97c5;
$dark-blue:          #367ab7;
$navy:               #008ea5;
$beige:              #e1aa6e;
$brown:              #ba8e5b;

// Body
$font-family-sans-serif: 'Roboto', sans-serif;
